.search-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.search-container input {
    box-sizing: content-box;
    
    height: 12px;
    
    border: 1px solid rgb(182, 172, 172);
    outline: none;
    border-radius: 10px;
    padding: 10px;

    color: black;

}
.search-container input::placeholder {
    text-align: center;
}